.header_sobre{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    justify-content: space-around; 
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.boi{
    width: 408;
    height: 20;
    gap: 50px;
    display: flex;
    flex-direction: row;
}

.div_inheader{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.boi a, .boi h1 {
   transition: color 0.5s ease, text-shadow 0.5s ease;
}


.boi a:hover {
    color: black;
    text-shadow: 0 0 5px #8ab4f8,
               0 0 10px #8ab4f8,
               0 0 15px #8ab4f8;
}

.pagina_atual{
    color: rgb(72, 72, 155);
    text-decoration:underline;
    text-underline-offset: 6px;
}

.div_social{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.icone_social{
    width: 32px;
}

.cabecalho_apresentação{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 3% 0px 0px 12%;
    gap: 5%;
    padding-bottom: 15px;
}

.apresentação_txt{
    font-size: 60px;
}

.imgEU{
    width: 100px;
    border-radius: 50%;
}

.div_txt_apresentação{
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-self: start;
    margin-left: 15%;
    max-width: 60%;
}

.div_check{
    background-color: #F8F9FA;
    border-radius: 10px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-left: 15%;
    margin-top: 5%;
    align-items: center;
    width: 30%;
    padding: 1%;
    margin-bottom: 65px;
}

.check_img{
    width: 4%;
    height: 4%;
}

.link_check{
    color: rgb(72, 72, 155);
}

.lista{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

@media screen and (max-width: 768px){

    .boi{
        font-size: 25px;
    }

    .cabecalho_apresentação{
        flex-direction: column;
    }

    .cabecalho_apresentação{
        margin: 0;
        padding-top: 25px;
    }

    .apresentação_txt{
        font-size: 50px;
    }

   .linha_horizontal {
        border: none;
        height: 2px;
        background-color: black;
        margin: 20px 0;
        width: 70%; 
    }

    .menu_bar{
        width: 35px;
        position: absolute;
        left: 25px;
    }

    .div_check{
        width: 375px;
        padding: 10px;
        margin-left: 10px;
        margin-top: 30px;
    }

    .div_txt_apresentação{
        max-width: 360px;
        margin-left: 20px;
    }
}